@inherits MainLayoutPage

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudText Typo="Typo.h5" Align="Align.Center" Class="ml-3" >EstudAKI</MudText>
        <MudSpacer />
        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />        
    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="1" Width="20vw">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="pt-20 pa-10">
        <MudGrid>
            <MudItem xs="12" md="9">
                <AdsComponent Slot="6528932050" Style="display:block; text-align:center;" />
                @Body
                <AdsComponent Slot="1855189877" Style="display:block; text-align:center;" />
            </MudItem>
            <MudItem xs="12" md="3">
                <AdsComponent Slot="7046445993" />
            </MudItem>
        </MudGrid>
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
